# ============================================
# Node
# ============================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ============================================
# Build outputs (NO se deben versionar)
# ============================================
build/
dist/

# Si usas tsc:
*.tsbuildinfo

# ============================================
# Vite / esbuild / bundlers (opcional)
# ============================================
vite.config.ts.timestamp*
.vite/

# ============================================
# Logs
# ============================================
*.log
logs/
*.log.json

# ============================================
# OS / IDE / Editor
# ============================================
.DS_Store
Thumbs.db

# VSCode
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# JetBrains
.idea/

# ============================================
# Testing
# ============================================
coverage/
.cache/
jest-cache/
jest-stare/

# ============================================
# Environment (no subir secrets)
# ============================================
.env
.env.local
.env.*.local

# ============================================
# Misc
# ============================================
temp/
tmp/