@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    justify-items: center;
    display: grid;
}

header {
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-bottom: 3vh;
}

h1 {
    text-align: center;
    margin: 0rem 7rem;
    display: inline-block;
    align-content: center;
    font-size: 3em;
}

.top-btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
}


#main_container {
    display: grid;
    justify-items: center;
}

#word_grid {
    margin: 1rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: content;
}

.col0,
.col1,
.col2,
.col3,
.col4 {
    background-color: chocolate;
}

.cell {
    border: 1px solid #adadad;
    width: 4.5vw;
    height: 8vh;
    margin: .15rem;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
}

#keyboard {
    margin-top: 3vh;
}

.key {
    border-radius: .4rem;
    border: none;
    min-width: 3.2rem;
    height: 3.8rem;
    margin: .2rem;
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: #E2E8F0;
    padding: 0;
}

.key:hover,
.top-btn:hover {
    background-color: #B8BCBF;
    color: inherit;
}

.key:active,
.top-btn:active {
    background-color: #577590;
    color: white;
}

.k-enter {
    min-width: 5.5rem;
}

.k-back {
    min-width: 4.5rem;
}

.cell-orange {
    background-color: #C9B459;
    color: white;
}

.cell-green {
    background-color: #6AAA64;
    color: #ffffff;
}

.cell-grey {
    background-color: #787C7E;
    color: #ffffff;
}

.keyPressed {
    background-color: #787C7E;
    color: #ffffff;
}